<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Animal</title>
</head>
<body>
    <input id="name" type="text">
    <input id="species" type="text">
    <input id="age" type="text">

    <button onclick="sendAnimal()">Send <br> Animal</button>

    <script>
       
        function sendAnimal() {
            
            const name = document.getElementById("name").value;
            const species = document.getElementById("species").value;
            const age = document.getElementById("age").value;

            const data = {
                name: name,
                species: species,
                age: age
            }

            fetch("",{
                method: "POST",
                body: JSON.stringify(data)
            }).then(
                (response)=>{ return response.json()}
            ).then(
                (data)=>{console.log(data)}
            ).catch(
                (error)=>{console.log(error)}
            )
        }
    </script>
</body>
</html>