body{
  margin: 0;
  background-color: #333;
  color: white;
  font-family: sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container{
  background-color: gray;
  color: aliceblue;
  width: 100%;
}

.main-footer{
  text-align: center;
}