<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Animal</title>
</head>
<body>
    <input id="name" type="text">
    <input id="specie" type="text">
    <input id="age" type="text">
    <button onclick="sendAnimal">Enviar animal</button>
    <script>
        function sendAnimal(){
            const data = {
                name: "name",
                species: "species",
                age: "age"
            };

            fetch("/",{
                method: "POST",
                body: JSON.stringify(data)
            })
        }
    </script>
</body>
</html>