<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Welcome</title>
</head>
<body>
    
    
    <form class="form" action="/publish" method="post">
        <h1 class="a">Welcome</h1>
        <input type="text" name="name" id="name" class="inputTag" placeholder="name">
        <input type="text" name="age" id="age" class="inputTag" placeholder="age">
        <input id="submit" type="submit" value="Enviar">
    </form>
</body>
</html>