<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Welcome</title>
</head>
<body style="text-decoration: none;">
    <div style="border:2px solid black;">
        <h1 style="text-align:center ;">Bienvenido a la aplicacion para personajes</h1>
        <h2 style="text-align:center ;">Registrate o inicia seccion</h2>
    <li style="text-align:center; list-style: none;display: inline-block;" ><a style="border-radius:20px;border: 2px black solid ;background-color:navajowhite;" href="login">Login</a></li>
    <li style="text-align:center;list-style: none;display: inline-block; "><a style="border-radius:20px;border: 2px black solid ;background-color:navajowhite;" href="register">Register</a></li>
    </div>
 
</body>
</html>